<div>

	<div class="container landing">
		<a href="/scrape/" class="scraping-reroute">
			<img id="logo" src="/img/scraping-news.png"alt="Scraping News Logo">
		</a>

		<div class="row loader-wrapper">
	    <div id="loader"></div>
	  </div>
	</div>
</div>
